body{
	margin:0;
	padding:0;
	font-family:sans-serif;
	color:#00FA9A;
	font-size:20px;
	background-image:url(sweet11.png);
	background-size:cover;
	background-position:center;
}
.name{
	width:80%;
	margin-left:30px;
	margin:auto;
}
.name h1{
	text-align:center;
}
.banner{
	display:flex;
	margin-top:80px;
	font-style:italic;
	font-size:25px;
	color:#FF1493;
	text-shadow:2px 2px;	
}
.class search{
	text-align:center;
	font-family:verdana;
	font-size:10px;
	background-position:center;
	bottom:70%;
	margin-right:50%;
	color:black;
}
	

	
	