body{
padding:0;
margin:0;
background-image:url(back2.png);
}
.c1{
color:blue;
cursor:pointer;
border-radius:3px;
}
.c2{
color:blue;
cursor:pointer;
border-radius:3px;
}
.c3{
color:blue;
cursor:pointer;
border-radius:3px;
}
.c4{
color:blue;
cursor:pointer;
border-radius:3px;
}
.c5{
color:blue;
cursor:pointer;
border-radius:3px;
}
.c6{
color:blue;
cursor:pointer;
border-radius:3px;
}
.c7{
color:blue;
cursor:pointer;
border-radius:3px;
}
.c8{
color:blue;
cursor:pointer;
border-radius:3px;
}
.c9{
color:blue;
cursor:pointer;
border-radius:3px;
}
