body{
	background-image:url("sweet1a.png");
	margin:0%;
	margin-left:35%;
	padding:0;
	font-family:sans-serif;
	background-size:cover;
}
.login-box{
	background-image:url("sweet1a.png");
	width:250px;
	position:absolute;
	margin-left:35%;
	top:50px;
	left:50px;
}
.login-box h1{
	font-size:40px;
	margin-left:28%;
	margin-bottom:50px;
	padding:15px;
}
.textbox{
	width:100%;
	font-size:20px;
	margin-left:35%;
	padding:8px;
	margin:8px;
	border-bottom:1px solid;
}
.button{
	font-family:verdana;
	font-size:20px;
	text-align:center;
	margin-left:40%;
}